{% extends "base.html" %}

{% block title %}
  <title>Login</title>
{% endblock %}
    
{% block content %}
  <div class="form">
    <p class="title">Login</p>
    
    <form method="post">
      {% csrf_token %}
      
      <label for="username">Username:</label>
      <input type="text" name="username" id="input_username" placeholder="Enter your Username" required autofocus><br>

      <label for="password">Password:</label>
      <input type="password" name="password" id="input_password" placeholder="Enter your Password" required><br>

      {% for field in login_form %}
        <p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
      {% endfor %}

      {% if login_form.non_field_errors %}
        <div style="color: red">
          <p>{{login_form.non_field_errors}}</p>
        </div>
      {% endif %}
          
      <button type="submit">Login</button>

    </form>
  </div>
{% endblock %}