{% extends "base.html" %}

{% block title %}
  <title>Charity</title>
{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}

    {% for field in charity_form %}
      <div class="field-wrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
      </div>
    {% endfor %}

    {% if charity_form.non_field_errors %}
      <div style="color: red">
          <p>{{charity_form.non_field_errors}}</p>
      </div>
    {% endif %}
        
    <button type="submit">Transfer</button>

  </form>
{% endblock %}