{% extends "base.html" %}

{% block title %}
  <title>Dashboard</title>
{% endblock %}

{% block content %}
  <div class="dashboard-items-wrapper">

    <a href="" class="dashboard-item left">
      <i class="fa-solid fa-coins icon"></i>
      <div class="text">
        <p>Credit</p>
        <p>Check your credit amount.</p>
      </div>
    </a>

    <a href="" class="dashboard-item right">
      <div class="text">
        <p>Transactions</p>
        <p>Check your Transactions.</p>
      </div>
      <i class="fa-solid fa-table-list icon"></i>
    </a>

    <a href="{% url 'app:transfer' %}" class="dashboard-item left">
      <i class="fa-solid fa-money-check icon"></i>
      <div class="text">
        <p>Transfer</p>
        <p>Transfer to Shetab netwoek cards.</p>
      </div>
    </a>

    <a href="{% url 'app:recharge' %}" class="dashboard-item right">
      <div class="text">
        <p>Recharge</p>
        <p>Recharge your sim card directly.</p>
      </div>
      <i class="fa-solid fa-sim-card icon"></i>
    </a>

    <a href="{% url 'app:charity' %}" class="dashboard-item left">
      <i class="fa-solid fa-hand-holding-heart icon"></i>
      <div class="text">
        <p>Charity</p>
        <p>Do good deeds for those in need.</p>
      </div>
    </a>

    <a href="{% url 'app:profile' %}" class="dashboard-item right">
      <div class="text">
        <p>Profile</p>
        <p>See your profile and information.</p>
      </div>
      <i class="fa-solid fa-user icon"></i>
    </a>

  </div>
{% endblock %}