{% extends "base.html" %}

{% block title %}
  <title>Recharge</title>
{% endblock %}

{% block content %}

  <div class="form">
    <p class="title recharge">Recharge</p>

    <form method="post">
      {% csrf_token %}

      {% for field in recharge_form %}
        <div class="field-wrapper">
          <div style="color: red;">
            {{ field.errors }}
          </div>
          {{ field.label_tag }} {{ field }}
        </div>
      {% endfor %}

      {% if recharge_form.non_field_errors %}
        <div style="color: red">
            <p>{{recharge_form.non_field_errors}}</p>
        </div>
      {% endif %}
          
      <button type="submit">Purchase</button>

    </form>
  </div>
{% endblock %}