{% extends "base.html" %}

{% block title %}
  <title>Your Transactions</title>
{% endblock %}

{% block content %}

  <div class="transaction-items-wrapper">
  {% for transaction in transactions %}

    <a href="{{ transaction.get_absolute_url }}">
      <div class="transaction-item">

        <!-- Choosing the icon -->
        {% if transaction.type == "Transfer" %}
          <i class="fa-solid fa-money-check icon"></i>
        {% elif transaction.type == "Recharge" %}
          <i class="fa-solid fa-sim-card icon"></i>
        {% else %}
          <i class="fa-solid fa-hand-holding-heart icon"></i>
        {% endif %}

        <!-- Printing data -->
        <div class="text">
          <p><i class="fa-solid fa-tag"></i> {{ transaction.type }}</p>
          <p><i class="fa-solid fa-coins"></i> {{ transaction.amount }} IRR</p>
          <p><i class="fa-solid fa-calendar-day"></i> {{ transaction.date_time.date }} &mdash; {{ transaction.date_time.time }}</p>
        </div>

        <!-- Arrow icon -->
        <i class="fa-solid fa-angle-right icon {% if transaction.recipient == user_card %} recipient {% endif%}"></i>
      </div>
    </a>
  {% endfor %}
  </div>

{% endblock %}