{% extends "base.html" %}

{% block title %}
  <title>Transfer</title>
{% endblock %}

{% block content %}

  <div class="form">
    <p class="title transfer">Transfer</p>

    <form method="post">
      {% csrf_token %}

      {% for field in transaction_form %}
        <div class="field-wrapper">
          <div style="color: red">{{ field.errors }}</div>
          {{ field.label_tag }} {{ field }}
        </div>
      {% endfor %}

      {% if transaction_form.non_field_errors %}
        <div style="color: red">
            <p>{{ transaction_form.non_field_errors }}</p>
        </div>
      {% endif %}
          
      <button type="submit">Transfer</button>

    </form>
  </div>
{% endblock %}