<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Load fonts from Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet"> 

  <!-- Load local stylesheets -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/all.min.css' %}">

  <!-- Set title of the page -->
  {% block title %}<title>Online Bank</title>{% endblock %}

</head>
<body>
  
  {% block sidebar %}

    <div class="open-btn"  id="sideNavOpenBtn">
      <i class="fa-solid fa-angles-down"></i>
    </div>
    <nav class="sidenav" id="sideNav">
      <div class="close-btn" id="sideNavCloseBtn">
        <i class="fa-solid fa-angles-up"></i>
      </div>
      
      {% with url_name=request.resolver_match.url_name %}
        <div class="items">
          {% if user.is_authenticated %}
          <a href="{% url 'app:dashboard' %}"
            class="{% if url_name == 'dashboard' %}active{% endif %}">dashboard
          </a>
            <a href="{% url 'app:profile' %}"
              class="{% if url_name == 'profile' %}active{% endif %}">profile
            </a>
            <a href="{% url 'app:transactions' %}"
              class="{% if url_name == 'transactions' %}active{% endif %}" >transactions
            </a>
            <a href="{% url 'app:transfer' %}"
              class="{% if url_name == 'transfer' %}active{% endif %}">transfer
            </a>
            <a href="{% url 'app:recharge' %}"
              class="{% if url_name == 'recharge' %}active{% endif %}">recharge
            </a>
            <a href="{% url 'app:charity' %}"
              class="{% if url_name == 'charity' %}active{% endif %}">charity
            </a>
            <a href="{% url 'user:logout' %}"
              class="{% if url_name == 'logout' %}active{% endif %}">logout
            </a>

          {% else %}
            <a href="{% url 'user:login' %}"
              class="{% if url_name == 'login' %}active{% endif %}">login
            </a>
            <a href="{% url 'user:register' %}"
              class="{% if url_name == 'register' %}active{% endif %}">register
            </a>
          {% endif %} 
        </div>
      {% endwith %}

      <div class="social-media">
        <i class="fa-brands fa-telegram sm-1"></i>
        <i class="fa-brands fa-instagram sm-2"></i>
        <i class="fa-brands fa-internet-explorer sm-3"></i>
        <i class="fa-brands fa-whatsapp sm-4"></i>
        <i class="fa-brands fa-linkedin sm-5"></i>
      </div>

    </nav>
  {% endblock %}

  <!-- Header -->
  <div class="header">
    <p>Online Bank</p>
  </div>

  <main class="main-wrapper">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <div class="footer">
    <p><i class="fa-solid fa-square-phone-flip"></i> Contact Us</p>
    <p><i class="fa-solid fa-envelope-open-text"></i> Email: mail@onlinebank.ir</p>
    <p><i class="fa-solid fa-building-columns"></i> Office Number: 021-24846901</p>
    <br>

    <p><i class="fa-solid fa-circle-dot"></i> Quick Access</p>
    <div class="links">
      <a class="no-decoration" href="{% url 'app:transfer' %"><i class="fa-solid fa-link"></i> Transfer</a>
      <a class="no-decoration" href="{% url 'app:recharge' %"><i class="fa-solid fa-link"></i> Recharge</a>
      <a class="no-decoration" href="{% url 'app:charity' %"><i class="fa-solid fa-link"></i> Charity</a>
    </div>
    <br>

    <p class="copy-right"><i class="fa-solid fa-copyright"></i> All Rights Reserved for Online Bank.</p>
  </div>

</body>
</html>

<script>
  // Open the sideNav
  const sideNavOpenBtn = document.querySelector("#sideNavOpenBtn");
  sideNavOpenBtn.addEventListener('click', function() {
    const sideNav = document.querySelector("#sideNav");
    sideNav.style.height = "100vh";
  })

  // Close the sideNav
  const sideNavCloseBtn = document.querySelector("#sideNavCloseBtn");
  sideNavCloseBtn.addEventListener('click', function() {
    const sideNav = document.querySelector("#sideNav");
    sideNav.style.height = "0";
  })
</script>
