<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Load fonts from Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

  <!-- Load local stylesheets -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/all.min.css' %}">

  <!-- Set title of the page -->
  {% block title %}<title>Online Bank</title>{% endblock %}

</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'app:index' %}">Dashboard</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'app:profile' %}">Profile</a></li>
            <li><a href="{% url 'app:transactions' %}">Transactions</a></li>
            <hr>
            <li><a href="{% url 'app:transfer' %}">Transfer</a></li>
            <li><a href="{% url 'app:recharge' %}">Recharge</a></li>
            <li><a href="{% url 'app:charity' %}">Charity</a></li>
            <hr>
            <li><a href="{% url 'user:logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'user:login' %}">Login</a></li>
            <li><a href="{% url 'user:register' %}">Register</a></li>
          {% endif %} 
        </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>
